body {
  text-align: center;
}

/* Styles for modal windows. */
.keystroke {
  font-size: 30px;
  color: red;
}

.help-screen {
  background-color: aliceblue;
}

.help-screen-content {
  background-color: lightyellow;
}

.btn-color {
  background-color: #08f;
  color: white;
}
